services/EditarDireccion_0.1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="EditarDireccion"
		xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
		xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
		xmlns:xsd="http://www.w3.org/2001/XMLSchema"
		xmlns:tns="http://www.talend.org/service/"
		targetNamespace="http://www.talend.org/service/">

	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://www.talend.org/service/">
			<xsd:element name="EditarDireccionOperationRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="id" type="xsd:int"></xsd:element>
						<xsd:element name="id_cliente"
							type="xsd:string">
						</xsd:element>
						<xsd:element name="barrio"
							type="xsd:string">
						</xsd:element>
						<xsd:element name="ciudad"
							type="xsd:string">
						</xsd:element>
						<xsd:element name="pais"
							type="xsd:string">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="EditarDireccionOperationResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="out" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="EditarDireccionOperationRequest">
		<wsdl:part name="parameters" element="tns:EditarDireccionOperationRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="EditarDireccionOperationResponse">
		<wsdl:part name="parameters" element="tns:EditarDireccionOperationResponse"></wsdl:part>
	</wsdl:message>

	<wsdl:portType name="EditarDireccionPortType">
		<wsdl:operation name="EditarDireccionOperation">
			<wsdl:input message="tns:EditarDireccionOperationRequest"></wsdl:input>
			<wsdl:output message="tns:EditarDireccionOperationResponse"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="EditarDireccionBinding" type="tns:EditarDireccionPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="EditarDireccionOperation">
			<soap:operation soapAction="http://www.talend.org/service/EditarDireccionOperation" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="EditarDireccion">
		<wsdl:port name="EditarDireccionPort" binding="tns:EditarDireccionBinding">
			<soap:address location="http://localhost:8090/services/EditarDireccion" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>