services/InsertarVendedor_0.1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="InsertarVendedor"
		xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
		xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
		xmlns:xsd="http://www.w3.org/2001/XMLSchema"
		xmlns:tns="http://www.talend.org/service/"
		targetNamespace="http://www.talend.org/service/">

	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://www.talend.org/service/">
			<xsd:element name="InsertarVendedorOperationRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="id" type="xsd:int"></xsd:element>
						<xsd:element name="nombre" type="xsd:string">
						</xsd:element>
						<xsd:element name="razon_social"
							type="xsd:string">
						</xsd:element>
						<xsd:element name="barrio"
							type="xsd:string">
						</xsd:element>
						<xsd:element name="municipio"
							type="xsd:string">
						</xsd:element>
						<xsd:element name="uf"
							type="xsd:string">
						</xsd:element>
						<xsd:element name="celular"
							type="xsd:string">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="InsertarVendedorOperationResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="done" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="InsertarVendedorOperationRequest">
		<wsdl:part name="parameters" element="tns:InsertarVendedorOperationRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="InsertarVendedorOperationResponse">
		<wsdl:part name="parameters" element="tns:InsertarVendedorOperationResponse"></wsdl:part>
	</wsdl:message>

	<wsdl:portType name="InsertarVendedorPortType">
		<wsdl:operation name="InsertarVendedorOperation">
			<wsdl:input message="tns:InsertarVendedorOperationRequest"></wsdl:input>
			<wsdl:output message="tns:InsertarVendedorOperationResponse"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="InsertarVendedorBinding" type="tns:InsertarVendedorPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="InsertarVendedorOperation">
			<soap:operation soapAction="http://www.talend.org/service/InsertarVendedorOperation" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="InsertarVendedor">
		<wsdl:port name="InsertarVendedorPort" binding="tns:InsertarVendedorBinding">
			<soap:address location="http://localhost:8090/services/InsertarVendedor" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>