services/InsertarItemPedidoVenta_0.1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="InsertarItemPedidoVenta"
		xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
		xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
		xmlns:xsd="http://www.w3.org/2001/XMLSchema"
		xmlns:tns="http://www.talend.org/service/"
		targetNamespace="http://www.talend.org/service/">

	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://www.talend.org/service/">
			<xsd:element name="InsertarItemPedidoVentaOperationRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="id_pedido"
							type="xsd:int">
						</xsd:element>
						<xsd:element name="cantidad"
							type="xsd:float">
						</xsd:element>
						<xsd:element name="valor_unitario"
							type="xsd:string">
						</xsd:element>
						<xsd:element name="id_material"
							type="xsd:int">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="InsertarItemPedidoVentaOperationResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="out" type="xsd:int"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="InsertarItemPedidoVentaOperationRequest">
		<wsdl:part name="parameters" element="tns:InsertarItemPedidoVentaOperationRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="InsertarItemPedidoVentaOperationResponse">
		<wsdl:part name="parameters" element="tns:InsertarItemPedidoVentaOperationResponse"></wsdl:part>
	</wsdl:message>

	<wsdl:portType name="InsertarItemPedidoVentaPortType">
		<wsdl:operation name="InsertarItemPedidoVentaOperation">
			<wsdl:input message="tns:InsertarItemPedidoVentaOperationRequest"></wsdl:input>
			<wsdl:output message="tns:InsertarItemPedidoVentaOperationResponse"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="InsertarItemPedidoVentaBinding" type="tns:InsertarItemPedidoVentaPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="InsertarItemPedidoVentaOperation">
			<soap:operation soapAction="http://www.talend.org/service/InsertarItemPedidoVentaOperation" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="InsertarItemPedidoVenta">
		<wsdl:port name="InsertarItemPedidoVentaPort" binding="tns:InsertarItemPedidoVentaBinding">
			<soap:address location="http://localhost:8090/services/InsertarItemPedidoVenta" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>