services/InsertarStockActual_0.1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="InsertarStockActual"
		xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
		xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
		xmlns:xsd="http://www.w3.org/2001/XMLSchema"
		xmlns:tns="http://www.talend.org/service/"
		targetNamespace="http://www.talend.org/service/">

	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://www.talend.org/service/">
			<xsd:element name="InsertarStockActualOperationRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="id_stock" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="InsertarStockActualOperationResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="out" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="InsertarStockActualOperationRequest">
		<wsdl:part name="parameters" element="tns:InsertarStockActualOperationRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="InsertarStockActualOperationResponse">
		<wsdl:part name="parameters" element="tns:InsertarStockActualOperationResponse"></wsdl:part>
	</wsdl:message>

	<wsdl:portType name="InsertarStockActualPortType">
		<wsdl:operation name="InsertarStockActualOperation">
			<wsdl:input message="tns:InsertarStockActualOperationRequest"></wsdl:input>
			<wsdl:output message="tns:InsertarStockActualOperationResponse"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="InsertarStockActualBinding" type="tns:InsertarStockActualPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="InsertarStockActualOperation">
			<soap:operation soapAction="http://www.talend.org/service/InsertarStockActualOperation" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="InsertarStockActual">
		<wsdl:port name="InsertarStockActualPort" binding="tns:InsertarStockActualBinding">
			<soap:address location="http://localhost:8090/services/InsertarStockActual" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>