services/StockActualService_0.1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="StockActualService"
		xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
		xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
		xmlns:xsd="http://www.w3.org/2001/XMLSchema"
		xmlns:tns="http://www.talend.org/service/"
		targetNamespace="http://www.talend.org/service/">

	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://www.talend.org/service/">
			<xsd:element name="StockActualServiceOperationRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="in" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="StockActualServiceOperationResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="out" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="StockActualServiceOperationRequest">
		<wsdl:part name="parameters" element="tns:StockActualServiceOperationRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="StockActualServiceOperationResponse">
		<wsdl:part name="parameters" element="tns:StockActualServiceOperationResponse"></wsdl:part>
	</wsdl:message>

	<wsdl:portType name="StockActualServicePortType">
		<wsdl:operation name="StockActualServiceOperation">
			<wsdl:input message="tns:StockActualServiceOperationRequest"></wsdl:input>
			<wsdl:output message="tns:StockActualServiceOperationResponse"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="StockActualServiceBinding" type="tns:StockActualServicePortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="StockActualServiceOperation">
			<soap:operation soapAction="http://www.talend.org/service/StockActualServiceOperation" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="StockActualService">
		<wsdl:port name="StockActualServicePort" binding="tns:StockActualServiceBinding">
			<soap:address location="http://localhost:8090/services/Stock/Crear-Stock" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>